Source: rnbd
Maintainer: Storage Team <storage@ionos.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 7),
               exuberant-ctags,
               bash-completion,
	       spell,
	       pandoc
Standards-Version: 3.9.5
Homepage: https://gitlab.pb.local/ibnbd/ibnbd-tool.git

Package: rnbd-tool
Depends: rnbd (= ${binary:Version}), ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: rnbd
Architecture: any
Depends: bash-completion,
		 ${misc:Depends},
		 ${shlibs:Depends}
Replaces: rnbd-tool (<= 1.0.18)
Breaks: rnbd-tool (<= 1.0.18)
Description: Command line tool for RNBD
 This package contains tool to manage RTRS connections
 and RNBD devices.

Package: rnbd-dbg
Architecture: any
Section: debug
Priority: extra
Depends: rnbd (= ${binary:Version}), ${misc:Depends}
Replaces: rnbd-tool-dbg (<= 1.0.18)
Breaks: rnbd-tool-dbg (<= 1.0.18)
Description: Debug symbols for rnbd package
