Source: rnbd
Maintainer: Storage Team <storage@ionos.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 7),
               exuberant-ctags,
               bash-completion,
Standards-Version: 3.9.5
Homepage: https://gitlab.pb.local/ibnbd/ibnbd-tool.git

Package: rnbd
Architecture: any
Depends: bash-completion,
		 ${misc:Depends},
		 ${shlibs:Depends}
Conflicts: rnbd-tool
Replaces: rnbd-tool
Description: Command line tool for RNBD
 This package contains tool to manage RTRS connections
 and RNBD devices.

Package: rnbd-dbg
Architecture: any
Section: debug
Priority: extra
Depends: rnbd (= ${binary:Version}), ${misc:Depends}
Conflicts: rnbd-tool-dbg
Replaces: rnbd-tool-dbg
Description: Debug symbols for rnbd package
