#!/usr/bin/make -f

export DH_VERBOSE=1
DEB_CONFIGURE_EXTRA_FLAGS = --prefix=/usr

DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

%:
	dh $@ --with bash-completion --parallel

override_dh_strip:
	dh_strip --dbg-package=ibnbd-tool-dbg
